.Main{
    position: relative;
    overflow-x: hidden;
}

.Show{
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    visibility: block;
    left: 33.5%;
    top: 25%;
}

#Form{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
    visibility: hidden;
}


.Delete{
    position: absolute;
    z-index: 4;
    top: 0;
    width: 100%;
    height: 100vh;
    visibility: hidden;
}